* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
}
.menu {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;

    /* border:2px blue dotted; */
    margin: 1rem;
}

.menuItem a {
    text-decoration: none;

}

h3 {
    text-align: center;
    font-size: 1.4rem;
    background-color: lightgrey;
    width:400px;
    line-height: 3rem;
    margin: 0;

}
/* .menuLink {
    border: 4px red dashed;
} */

 /* .menuItem {
    border: 4px rgb(133, 20, 143) dashed;
} */


.menuLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;

}

.menuLink img {
    width:400px;
    height:400px;
}



  
